@model DAWSlack.Models.Category

@{
    ViewBag.Title = "Adauga o noua categorie";
}



<h2>Adaugare Categorie</h2>

<form method="post" action="/Categories/New">

    <label asp-for="CategoryName" class="form-label">Denumirea categoriei</label>
    <br />
    <input asp-for="CategoryName" class="form-control" />
    <span asp-validation-for="CategoryName" class="text-danger"></span>
    <br/>
    <label asp-for="CategoryDescription" class="form-label">Descriere</label>
    <br />
    <input asp-for="CategoryDescription" class="form-control" />
    <span asp-validation-for="CategoryDescription" class="text-danger"></span>

    <br /><br />
    <button class="btn btn-success" type="submit">Adauga categorie</button>
</form>

